<div>
  <div class="parallax">
    <h1>Curiosity</h1>
  </div>
</div>

<div class="container">
  <p>name: {{missionManifest.name}}</p>
  <p>status: {{missionManifest.status}}</p>
  <p>landing date: {{missionManifest.landing_date}}</p>
  <p>launch Date: {{missionManifest.launch_date}}</p>
  <p>total photos: {{missionManifest.total_photos}}</p>
  <p>max sol: {{missionManifest.max_sol}}</p>
  <p>max date: {{missionManifest.max_date}}</p>
</div>

<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     [infiniteScrollDisabled]='infiniteScrollToggle'
     (scrolled)="getNextPageOfPhotos()">
  <p>Current Sol: {{currentSol}}</p>
  <p>Total photos in current sol: {{totalPhotosInCurrentSol}}</p>
  <div class="card-columns">
    <div *ngFor="let photo of photosOfCurrentSol; let index = index" class="card">
      <img class="card-img" [src]=photo.img_src alt="">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">Picture #{{index + 1}}</small></p>
      </div>
    </div>
  </div>
</div>