<nav *ngIf="!homePageRoute" class="navbar navbar-expand-lg navbar-dark fixed-top logged-in-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse center" id="navbarTogglerDemo02">
    <div class="linkCenter"><a class="navbar-brand d-inline-block center" routerLink="/">Home</a></div>
    <form [formGroup]='searchForm'
          (ngSubmit)="onSubmitSearchForm()" 
          class="form-inline my-2 my-md-0 center"
          *ngIf="apodRoute">
      <input #searchInput formControlName='searchFormInput' class="form-control mr-sm-2" type="search" placeholder="yyyy-mm-dd" aria-label="Search" maxlength="10" [ngClass]="{'invalid-input': !searchForm.valid && searchForm.touched}">
      <button class="btn btn-outline-light my-2 my-sm-0" 
              type="submit"
              [disabled]="!searchForm.valid"
              *ngIf="!loading"
      >Search</button>
      <button class="btn btn-light my-2 my-sm-0" 
              type="button"
              disabled
              *ngIf="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...</button>
    </form>
    <div *ngIf="!searchForm.valid && apodRoute" class="alert alert-light alert-dismissible fade show" role="alert">
      <strong class="text-dark">The valid dates range from 1996-01-01 to the present day.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/apod">APOD</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/curiosity">Curiosity</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/opportunity">Opportunity</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/spirit">Spirit</a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="homePageRoute" class="navbar navbar-expand-lg navbar-dark fixed-top home-page-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse center" id="navbarTogglerDemo02">
    <div class="linkCenter"><a class="navbar-brand d-inline-block center" routerLink="/">NASA Project</a></div>
    <form [formGroup]='logInForm'
          (ngSubmit)="onSubmitLogInForm()" 
          class="form-inline my-2 my-md-0 center d-flex">
      <input formControlName='email' class="form-control mr-sm-2 p-2" type="email" placeholder="email" aria-label="email">
      <input formControlName='password' class="form-control mr-sm-2 p-2" type="password" placeholder="password" aria-label="password">
      <button class="btn btn-outline-light my-2 my-sm-0 p-2" 
              type="submit">
      Log In</button>
    </form>
  </div>
</nav>