nav
  background-color: #0b3d91

  .linkCenter
    text-align: center

form
  max-width: 340px

  .invalid-input:focus
    border: solid red 1.5px

@media (max-width: 991px)
  .center
    margin: 0 auto
  div[role=alert]
    text-align: center
    margin: 1em auto 0
    max-width: 510px

@media (max-width: 576px)
  button:nth-child(2)
    margin: 0 auto
  div[role=alert]
    margin: 0

@media (min-width: 991px)
  div[role=alert]
    text-align: center
    margin: 0 auto
    max-width: 510px
  form
    min-width: 340px