form{
    max-width: 300px;
}

nav{
    background-color: #0b3d91;
}

.invalid-input:focus{
    border: solid red 1.5px
}

@media (max-width: 991px) {
    .linkCenter{
        text-align: center;
    }
    .center{
        margin: 0 auto;
    }
    div[role=alert]{
        text-align: center;
        margin: 1em auto 0;
        max-width: 510px;
    }
}

@media (max-width: 576px) {
    button:nth-child(2){
        margin: 0 auto;
    }
    div[role=alert]{
        margin: 0;
    }
}

@media (min-width: 991px) {
    div[role=alert]{
        text-align: center;
        margin: 0 auto;
        max-width: 510px;
    }
    form{
        min-width: 300px;
    }
}