form{
    max-width: 300px;
}

@media (max-width: 576px) {
    button:nth-child(2){
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .linkCenter{
        text-align: center;
    }
    .center{
        margin: 0 auto;
    }
}