<nav *ngIf="!homePageRoute && userIsAuthenticated || pageNotFoundRoute && userIsAuthenticated" class="navbar navbar-expand-lg navbar-dark fixed-top logged-in-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse center" id="navbarTogglerDemo02">
    <div class="linkCenter"><a class="navbar-brand d-inline-block center" routerLink="/apod">APOD</a></div>
    <form [formGroup]='searchForm'
          (ngSubmit)="onSubmitSearchForm()" 
          class="form-inline my-2 my-md-0 center"
          *ngIf="apodRoute">
      <input #searchInput formControlName='searchFormInput' class="form-control mr-sm-2" type="search" placeholder="yyyy-mm-dd" aria-label="Search" maxlength="10" [ngClass]="{'invalid-input': !searchForm.valid && searchForm.touched}">
      <button class="btn btn-outline-light my-2 my-sm-0" 
              type="submit"
              [disabled]="!searchForm.valid"
              *ngIf="!loading"
      >Search</button>
      <button class="btn btn-light my-2 my-sm-0" 
              type="button"
              disabled
              *ngIf="loading">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...</button>
    </form>
    <div *ngIf="!searchForm.valid && apodRoute" class="alert alert-light alert-dismissible fade show" role="alert">
      <strong class="text-dark">The valid dates range from 1996-01-01 to the present day.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/curiosity">Curiosity</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/opportunity">Opportunity</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white" routerLink="/rovers/spirit">Spirit</a>
      </li>
      <li class="nav-item center">
        <a class="nav-link text-white">Profile
          <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8" xml:space="preserve">
          <polyline fill="none" stroke="white" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
          48.8,1.7 25.2,25.2 1.7,1.7 "/></svg>
        </a>
        <ul>
          <li routerLink="/account-settings">
            Settings
          </li>
          <li>
            <a (click)="onLogOut()">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="homePageRoute && !userIsAuthenticated || pageNotFoundRoute && !userIsAuthenticated" class="navbar navbar-expand-lg navbar-dark fixed-top home-page-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse center" id="navbarTogglerDemo02">
    <div class="linkCenter"><a class="navbar-brand d-inline-block center" routerLink="/">NASA Project</a></div>
    <form [formGroup]='logInForm'
          (ngSubmit)="onSubmitLogInForm()" 
          class="form-inline my-2 my-md-0 center d-flex"
          *ngIf="!pageNotFoundRoute">
      <input formControlName='email' 
              class="form-control mr-sm-2 p-2" 
              type="email" 
              placeholder="email" 
              aria-label="email"
              [ngClass]="{'invalid-input': invalidUserCredentials}">
      <input formControlName='password' 
              class="form-control mr-sm-2 p-2" 
              type="password" placeholder="password" 
              aria-label="password"
              [ngClass]="{'invalid-input': invalidUserCredentials}">
      <button class="btn btn-outline-light my-2 my-sm-0 p-2" 
              type="submit"
              [disabled]="!logInForm.valid">
      Log In</button>
    </form>
    <div *ngIf="invalidUserCredentials" class="alert alert-danger alert-dismissible fade show" role="alert">
      Incorrect Email or Password.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</nav>