<div class="container"
     [ngClass]="{'stop-scrolling': noScroll}"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     [infiniteScrollDisabled]='infiniteScrollToggle'
     (scrolled)="getTenMoreApod()">
  <div *ngFor='let apod of apodArray' class="card mb-3">
    <img *ngIf="apod.media_type === 'image'" class="card-img-top" [src]='apod.url' alt="image of {{apod.title}}">
    <div *ngIf="apod.media_type === 'video'" class="embed-responsive embed-responsive-16by9">
      <!-- the link in the src of the iframe is so that the videos can work -->
      <iframe *ngIf="apod.media_type === 'video'" class="embed-responsive-item" [src]='sanitize(apod.url)' scrolling="no" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{apod.title}}</h5>
      <p class="card-text">{{apod.explanation}}</p>
      <p class="card-text"><small class="text-muted">Astronomy Picture Of The Day: {{apod.date}}</small></p>
    </div>
  </div>
  <div *ngIf="apodArray[apodArray.length-1].date != '1996-01-01'" class="d-flex justify-content-center" [ngClass]="{'centered-on-screen': noScroll}">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<button
  *ngIf="checkPageYOffset()"
  class="btn text-white position-fixed" 
  (click)="scrollUp()"
>Scroll Up</button>