div:nth-child(2){
    width: 45%;
}

div:nth-child(3){
    width: 40%; 
    height: 300px;
}

img{
    height: 50px;
    width: 50px;
}

p{
    margin-top: 2em;
}

@media (max-width: 991px) {
    div:nth-child(1){
        flex-direction: column;
    }
    div:nth-child(2),
    div:nth-child(3){
        width: 100%;
        margin: 0 auto;
    }
}
