.child-div-1{
    width: 45%;
}

.child-div-2{
    width: 40%; 
    height: 300px;
}

@media (max-width: 767.98px) {
    div[class=container]{
        flex-direction: column;
    }
    .child-div-1,
    .child-div-2{
        width: 100%;
    }
}
