img
  height: 50px
  width: 50px

p
  margin-top: 2em

@media (max-width: 991px)
  div[class="container d-flex justify-content-around"]
    flex-direction: column
  .left-div
    margin-top: 5em
  .right-div
    margin-top: 3em

@media (min-width: 991px)
  .left-div
    margin-top: 8em
  .right-div
    margin-top: 5em